/*bookmark*/
.bookmark-background{
    min-height: 240px;
    max-height: 458px;
}
.bookmark-inside{
    display: none;
    position: relative;
    height: 100%;
    align-items: center;
}
.bookmark-param{
    position: absolute;
    top: 11%;
    left: 17%;
    z-index:3;    
}
.bookmark-param {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

/*estrellas estáticas*/
.stars-outer {
    display: flex;
    position: relative;
    font-family: FontAwesome; 
    color: #000000;
    font-size: 12px; 
    margin:auto;
}
   
.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}
   
.stars-inner {
    position: absolute;
    top:0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;       
}
   
.stars-inner::before{
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #ffd000;
}
.rating-box h2{
    cursor: pointer;
}
.rating-box h2:hover{
    color:rgba(43, 66, 43, 0.822);
}

/*Cuadro de puntuación*/
.scene{
    display:none;
    position:fixed;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    right: 0;
    bottom: 0; 
    background-color:rgba(13, 14, 13, 0.815); 
    z-index:50;
}
.puntuar{ 
    position: fixed;   
    left:10%;
    top:35%;
    right: 10%;
    bottom: 35%;    
    border-radius:5px;
    box-shadow: 0 0 8px 5px rgba(13, 14, 13, 0.863);
    background-color:rgb(255, 255, 255); 
}


/*mediaQuerys configuraciones*/

/*xs----Extra small*/
@media screen and (min-width:320px){
}
/*sm----small (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .bookmark-inside{
        display: block;
    }
    .rating-block{
        display: none;
    }
    .puntuar{
        left:25%;
        top:25%;
        right: 25%;
        bottom: 25%;
    }
}
/*md----medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .puntuar{
        left:25%;
        top:25%;
        right: 25%;
        bottom: 25%;
    }
}
/*lg----large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .bookmark-param{        
        top: 15%;
        left: 25%;    
    }
    .bookmark-param h2{ 
        font-size:38px;
        margin-bottom: 50px;
    }
    .stars-outer {
        font-size: 18px;
    }
    .stars-inner{
        font-size: 18px;
    }
    .puntuar{
        left:25%;
        top:25%;
        right: 25%;
        bottom: 25%;
    }
}
/*xl----Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .bookmark-param{        
        top: 12%;
        left: 14%;    
    }
    .bookmark-param h2{ 
        font-size:45px;
    }
    
    .stars-outer {
        font-size: 24px;
    }
    .stars-inner{
        font-size: 24px;
    }
    .puntuar{
        left:25%;
        top:25%;
        right: 25%;
        bottom: 25%;
    }
}
  