{% extends 'index.html' %}
{% load static %}
    <title>{% block titulo %}Perfil{% endblock titulo %}</title>

    <!--En este bloque irían todas las dependecias específicas de cada pagina que herede de index-->
    {% block dependencias_individuales %} 
    <link href="{% static 'Css/pagPerfil/general.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Css/PagPrincipal/General.Css' %}" />       
    <link rel="stylesheet" href="{% static 'Css/PagPrincipal/books_carousels.css' %}"/>       

    <!--Include Charts.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
    {% endblock dependencias_individuales %}


 {% block Pagina %}
{% if user.is_authenticated %}
    
<div id="divContenedor">                    
    <div class="row fondo ">
        <div class="row col-xs-12 image-section">
            <img src="{% static 'Img/Libreria1.jpg' %}">
        </div>
        <div class="row user-medium-part">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="col-xs-9 col-xs-offset-2 col-sm-12 col-sm-offset-0 ">
                    <div class="row ">                    
                        <div class="user-image">
                            <img src="{{user.img_perfil.url}}" class="rounded-circle">
                        </div>
                        <div class="row">
                            <div class="user-image-ant col-md-3 col-md-3-sm-3 col-xs-3 ">
                                <img src="{{user.img_perfil.url}}" >
                            </div>
                            <div class="user-image-ant col-md-3 col-md-3-sm-3 col-xs-3 ">
                                <img src="{{user.img_perfil.url}}" >
                            </div>
                            <div class="user-image-ant col-md-3 col-md-3-sm-3 col-xs-3 ">
                                <img src="{{user.img_perfil.url}}" >
                            </div>
                        </div>                                      
                    </div>                
                </div>            
                <div class="col-xs-11 col-xs-offset-2 col-sm-4 col-sm-offset-0 profile-right-section">
                    <div class="row profile-right-section-row">        
                        <div class="row">
                            <div class="col-xs-12 profile-header-section1">
                                <h1 id="nombre">{{user.username}}</h1>
                            </div> 
                        </div>                                    
                            
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="profile">                                                                    
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <i class="icono fas fa-at"></i>
                                        </div>
                                        <div class="col-xs-11">
                                            <span >{{user.email}}</span>
                                        </div>
                                    </div>                                        
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <i class="icono fas fa-comment-dots"></i>
                                        </div>
                                        <div class="col-xs-11">
                                            <span >{{user.descripcion}}</span>
                                        </div>
                                    </div>                                                                                                                
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-8">                
                <div class="row"> <h1>Ultimos Libros solicitados</h1> </div>
                <div class="row">
                    <script>
                        let rate;
                        let width=($(window).width()/100)*2;
                    </script>                                        
                    <div class="col-xs-12">
                        <table>
                            <thead>
                                <tr>                                
                                <th>Portada</th>
                                <th>Titulo</th>
                                <th>Valoración</th>
                            </thead>
                            <tbody>
                                {% for libro in reservas %}
                                <tr onclick="sendBook('{{libro.id}}')">                                    
                                    <th>
                                        <a id="img{{libro.id}}" class="Htitulo" href="{% url 'Biblio:libro' pk=libro.id%}"></a>
                                        <img id="imgport" src="{{libro.portada.url}}" alt="Portada de libro">
                                    </th>
                                    <td><h4>{{libro.titulo|truncatechars:20}}</h4></td>
                                    <td><div id="rateYo{{libro.id}}" class="valor"></div></td>                                                                        
                                </tr>
                                <script>                                    
                                    $(function (){
                                        rate=$('#rateYo{{libro.id}}').rateYo({
                                            rating:parseFloat("{{libro.estrellas}}"),
                                            readOnly: true,
                                            starWidth:width.toString()
                                        });
                                    });                                                            
                                </script>  
                                {% endfor %}
                                <script>
                                    function sendBook(id){
                                        let identificador="img"+id;
                                        document.getElementById(identificador).click();
                                    }
                                    window.addEventListener("resize", changeSizeStars);

                                    function changeSizeStars(){
                                        let lista=document.getElementsByClassName('valor');                                                                                
                                        width=($(window).width()/100)*2;
                                        for (const p of lista) {
                                            $("#"+p.id).rateYo("option", "starWidth", width.toString());
                                        }                                        
                                    }
                                </script>
                            </tbody>
                        </table>                        
                    </div>                                                                                                                                                        
                </div>
            </div>            
        </div>
        
        <div class="row user-lower-part">
            <div class="col-xs-offset-1 col-sm-offset-6 col-md-offset-4">                
                <!-- <canvas id="Chart"></canvas> -->
            </div>
            <!-- <script>
                let ctx=document.getElementById('Chart');
                let chart=new Chart(ctx,{
                    type:'bar',
                    data:{
                        labels:['']
                    },
                    options:{
                        maintainAspectRatio:false
                    }
                });
            </script> -->
        </div>
    </div>    
    {% else %}
        <h1>ERROR 404</h1>
    {% endif %}
</div>                                               
    {% endblock Pagina %}