{% extends 'index.html' %}
{% load static %}
    <title>{% block titulo %}Libros{% endblock titulo %}</title>
     
{% block dependencias_individuales %}     
<link rel="stylesheet" href="{% static 'Css/PagPrincipal/scrollup.css' %}">
<link rel="stylesheet" href="{% static 'Css/PagPrincipal/mainly_carousel.css' %}">
<link rel="stylesheet" href="{% static 'Css/PagPrincipal/books_carousels.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Css/PagPrincipal/General.Css' %}" />       
{% endblock dependencias_individuales %}


{% block Pagina %}
<!--Scrollup-->
<a class="up scrollup" href="#up"> <i class="fas fa-arrow-up"></i> </a>
<script src="{% static 'Js/scrollup.js' %}"></script>

<div id="margin_contenido">
    <div class="row">
    {% if libros %}
        {% for t in libros %}
        <div class="item  galeria_min col-xs-6  col-sm-4 col-md-3 col-lg-3 ">        
                    <div class="card">
                            <a id="img{{t.id}}" class="Htitulo" href="{% url 'Biblio:libro' pk=t.id%}"></a>                                                                                
                            <img src="{{t.portada.url}}" alt="Portada de libro" 
                            onclick="sendBook('{{t.id}}')">
                            <div class="rankeo {{t.id}}">
                                <div class="stars-outer">
                                    <div class="stars-inner"></div>
                                </div>
                            </div>
                            <h4>{{t.titulo|truncatechars:20}}</h4>
                            <p>{{t.resumen|truncatechars:100}}</p>
                            
                            <script type="text/javascript">                                                                    
                                puntuacion="{{t.estrellas}}";
                                value=parseFloat(puntuacion);
                                key="{{t.id}}";
                                puntuaciones.set(key,value);                                    
                            </script>
                   </div>                                  
        </div>
        {% endfor %}      
    {% else %}
    <div class="row justify-content-center">
        <h1>NO SE ENCONTRO RESULTADOS</h1>
    </div>
    {% endif %}                                                 
    </div>
    <br>
    <br>
    
    <!--Parallax-->
    <script src="{% static 'Js/Parallax.js' %}"></script>

    <script src="{% static 'Js/booksSlides.js' %}"></script>
    <script> 
        function sendBook(id){
            let identificador="img"+id;
            document.getElementById(identificador).click();
        }
    </script>
    <div id="bajo_navegador" class="row separador">
        <div class="col-xs-4 col-xs-offset-4">
            <div id="Separador">                      
            </div>
        </div>
    </div>
    <div class="row around-xs around-sm around-md around-lg">   
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        {% if libros.has_previous %}
            <a href="?page={{ libros.previous_page_number }}" class="btn_next_prev">Anterior</a>
        {% endif %}
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        {% if libros.has_next %}
            <a href="?page={{ libros.next_page_number }}" class="btn_next_prev">Siguiente</a>                                        
        {% endif %}
        </div> 
    </div>
    
   <br>
   <br>
</div>       
{% endblock Pagina %}

