
body{
    background: url('/static/Img/regal.png');
	background-size:cover; /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
    margin:0;
}
#Contenedor{          
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h2{
    color:#ffd000;
    font-size: 40px;
}
#bajo_navegador{
    margin-left: 0;
    margin-right: 0;
}
#bajo_navegador div{
    padding-left: 0;
    padding-right: 0;
}
.separador{
    height: 150px;
    text-align: center;
    padding-top: 5%;    
}

#margin_contenido{
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 1150px) {
    #margin_contenido{
        margin-left: 0;
        margin-right: 0;
    }
}

.marco{
    margin-top: 50px;
    height: 380px;
    width: 240px;
    background: #ffffff;
}

