{% extends 'Accounts/Admin/adminBase.html' %}
{% block titulo %}
    Editar editorial
{% endblock titulo %}
{% load static %}
{% load crispy_forms_tags %}
{% block principal %} 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-ms-11 col-lg-11">
            <form method="POST">
                {% csrf_token %}
                {% if error  %}
                    <h1>{{ error }}</h1>
                {% else %}    
                    {{editorial_form|crispy}}
                    <button type="submit" class="btn btn-primary">Editar</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock principal %} 